
<br /><br />
%div.mdl-data-table.mdl-js-data-table
  %table.table
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric #
        %th Symbol
        %th Name
        %th Market cap
        %th Current price
        %th Change(24h)
    %tbody
      - for x in @coins
        %tr
          %td.mdl-data-table__cell--non-numeric= x["rank"]
          %td= x["symbol"]
          %td= x["name"]
          %td= number_to_currency(x["market_cap_usd"])
          %td $#{x["price_usd"]}
          %td #{x["percent_change_24h"]}%
