
<br /><br />
%br/
%form.col-md-offset-4.col-md-4{ :action => "#" }
  %div.form-group
    %input#myInput.form-control{ :type => "text", :onkeyup => "myFunction()",
      :title => "Type in a name", :placeholder => "Search for name or symbol..." }
%br/
%div.table_responsive
  %table.table#myTable
    %thead
      %tr
        %th #
        %th Symbol
        %th Name
        %th Market cap
        %th Current price
        %th Change(24h)
    %tbody
      - for x in @coins
        %tr
          %td= x["rank"]
          %td= x["symbol"]
          %td= x["name"]
          %td= number_to_currency(x["market_cap_usd"])
          %td $#{x["price_usd"]}
          %td #{x["percent_change_24h"]}%
